@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textPrimary antialiased selection:bg-primary/30;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-surface/60 backdrop-blur-md border border-white/10 shadow-xl;
  }
}
